.dark-mode {
    background-color: #333;
    color: #fff;
  
    a {
      color: lighten($primary-color, 20%);
  
      &:hover,
      &:focus {
        color: $primary-color;
      }
    }
  
    button {
      background-color: lighten($primary-color, 20%);
  
      &:hover,
      &:focus {
        background-color: $primary-color;
      }
    }
  
    input[type="text"] {
      border-color: lighten($secondary-color, 20%);
  
      &:focus {
        border-color: $secondary-color;
      }
    }
  }