.dark-theme {
    body {
      color: $primary-color;
    }
  
    #container {
      background-color: $darkmode-background-color;
    }
  
    #searchbar {
      border: .1875rem solid $darkmode-background-color;
      background-color: $darkmode-inputs;
      color: $primary-color;
  
      &::placeholder {
        color: $placeholder-darkmod-color;
      }
  
      &:focus {
        border: .1875rem solid $primary-color;
      }
    }
  
    #loupe {
      content: url(./assets/images/mg-darkmod.svg);
    }
  
    button {
      border-color: $primary-color !important;
      color: $primary-color;
    }
  
    #todoTask {
      background-color: $to-do-darkmod-color;
    }
  
    #DoingTask {
      background-color: $doing-darkmod-color;
    }
  
    #DoneTask {
      background-color: $done-darkmod-color;
    }
  
    .nomDeTâche, .date, .description {
      color: $secondary-color;
    }
  
    #modal-container {
      background-color: $to-do-darkmod-color;
    }
  
    #darkmodbtnimg:hover {
      border-radius: 2.8125rem;
      border: .125rem solid $primary-color;
    }
  }