* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-weight: 400;
}

#container {
  width: 100%;
  min-height: 100vh;
  padding: 3.3125rem 3.875rem;
  background-color: $primary-color;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3125rem;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#darkmodbtn {
  width: 60px;
  height: 60px;
  align-self: center;
}

#searchbar {
  width: 100%;
  border-radius: 2.8125rem;
  font-size: 1.5rem;
  border: .1875rem solid $primary-color;
  outline: none;
  padding: 1.4375rem 3.0925rem;
  background-color: $inputs-color;
}

#searchbar::placeholder {
  color: $placeholder-color;
}

#searchbar:focus {
  border: .1875rem solid $secondary-color;
}

#grid {
  display: grid;
}

#grid>* {
  grid-column-start: 1;
  grid-row-start: 1;
}

#grid>button:nth-child(2) {
  margin-right: 1.25rem;
  margin-left: calc(100% - 5.625rem);
  width: 60px;
}

#darkmodbtnimg {
  border: .125rem solid transparent;
}

#darkmodbtnimg:hover {
  border-radius: 2.8125rem;
  border: .125rem solid $secondary-color;
}

form {
  padding-bottom: 2rem;
}

#app {
  display: flex;
  justify-content: space-between;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 2.625rem;
}

#todoTask,
#DoingTask,
#DoneTask {
  width: 30%;
  min-width: 285px;
  height: fit-content;
  padding: 1rem 2.4375rem;
  border-radius: 50px;
}

#todoTask {
  background-color: $to-do-color;
}

#DoingTask {
  background-color: $doing-color;
}

#DoneTask {
  background-color: $done-color;
}

#donePlacement{
  display: flex;
  justify-content: space-between;
  padding-left: calc(45% - 20px);
}

#deleteAll{
  margin-bottom: 41px;
}

.task {
  display: flex;
  width: 100%;
  min-height: 111px;
  height: auto;
  margin-bottom: 2.75rem;
  background-color: $primary-color;
}

.task:hover{
  cursor: grab;
}

.addTask {
  display: flex;
  margin: auto;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.addTask:hover{
  color: $hover-color;
  transition: 0.3s ease-in-out;
}

.contenu {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 100px;
  column-gap: 20px;
  row-gap: 11px;
  padding: .3125rem;
}

.nomDeTâche, .date{
  display: flex;
  align-items: center;
  height: auto;
  border-bottom: .0625rem solid $secondary-color;
}

.description{
  height: auto;
}

.actions {
  display: flex;
  align-items: end;
  margin-right: .3125rem;
  justify-content: space-between;
}

#modal{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0 , 0.8);
}

#fermer{
  display: flex;
  justify-content: right;
}

#btnfermer{
  font-size: 1.875rem;
  margin-bottom: 5%;
  color: $primary-color;
}

#modal{
  display: none;
}

#modal-container{
  background-color: $to-do-color;
  padding: .625rem 2.1875rem 2.1875rem 2.1875rem;
  width: 50%;
}

.inputmodal{
  display: flex;
  margin-bottom: 1.5625rem;
  justify-content: space-between;
}

.inputmodal:last-child{
  margin-bottom: 0;
}

#descrimodal, #nameTask{
  width: 100%;
  padding: 1.1875rem 1.625rem;
  font-size: 1.25rem;
  outline: none;
}

#datemodal{
  width: auto;
  padding: 1.1875rem 1.625rem;
  font-size: 1.25rem;
  outline: none;
}

#formmodal{
  padding: 0;
}

#btnmodal{
  padding: 1px 3rem;
  font-size: 1.25rem;
  border: .125rem solid $secondary-color;
  border-radius: 1.875rem;
}

@media screen and (max-width: 1038px){
  #container{
    padding: 1.625rem 2.25rem;
  }
  #modal-container{
    width: 90%;
  }
}

@media screen and (max-width: 929px){
  h1{
    font-size: 3rem;
  }
  #todoTask, #DoingTask{
    margin-bottom: 1.875rem;
  }
  #todoTask, #DoingTask, #DoneTask{
    width: 100%;
  }
  #app{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #modal{
    width: 100%;
  }
  #datemodal{
    width: auto;
  }
}

@media screen and (max-width: 557px){
  #darkmodbtnimg{
    width: 50px;
    height: 50px;
  }
  #grid > button:nth-child(2){
    margin-left: calc(100% - 3.75rem);
  }
  #searchbar{
    padding: .5625rem 1.5rem;
    font-size: .875rem;
  }
  #loupe{
    width: 18px;
    height: 18px; 
  }
  #searchbar::placeholder{
    font-size: .875rem;
  }

  #descrimodal, #nameTask{
    padding: .625rem 15px;
    font-size: .75rem;
  }
  
  #datemodal{
    padding: .625rem 15px;
    font-size: .75rem;
  }

  #btnmodal{
    padding: .0625rem .4375rem;
    font-size: .75rem;
    border: .125rem solid $secondary-color;
    border-radius: 1.875rem;
  }

  #btnfermer{
    font-size: 20px;
  }
}

@media screen and (max-width: 513px){
  h1{
    display: flex;
    align-items: center;
    font-size: 1.875rem;
  }
  h2{
    margin-bottom: 1.25rem;
  }
  .nomDeTâche, .date, .description {
    font-size: .75rem;
  }
  #darkmodbtnimg{
    width: 40px;
    height: 40px;
  }
  .task{
    min-height: 80px;
    margin-bottom: 1.25rem;
  }
  .checkmark, .pen, .can{
    width: 16px;
    height: 20px;
  }
}