$primary-color: #DBC7C7;
$secondary-color: #000;
$darkmode-background-color: #292929;
$placeholder-color: #828282;
$placeholder-darkmod-color: #8B8B8B;
$inputs-color: #D9D9D9;
$to-do-color: #F95454;
$to-do-darkmod-color: #8A0000;;
$doing-color: #F48637;
$doing-darkmod-color: #AC4800;
$done-color: #30B435;
$done-darkmod-color: #008205;
$darkmode-inputs: #636363;
$hover-color: #31c1ff;
$font-family: 'Inter', sans-serif;
$font-size: 100%;
